*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fondo{
    background-image: url(https://img.freepik.com/vector-gratis/fondo-primavera-dibujado-flores_23-2148833619.jpg);
    min-height: 25vh;
}

#sobreMi h1{
    color: rgb(0, 0, 0);
    font-weight: 700;
    margin: 180px

}

img{
    width: 70%;
    margin: 50px;
}

h1.fondo{
    margin:200px
}

h2{
    text-align: center;
}

#sobreMi h1{
    text-align: center;
}

p{
    text-align: center;
    margin: 80px;
}

nav{
    background-color:#da0379;
}

nav, ul, li{
    list-style:none;
}

a{
    text-decoration: none;
}

.destacados1 {
    background-color: #ffafdb;
}

.destacados2{
    background-color:#cf4070;
}

#footerS{
    background-color: #b10f80;  
}

#footerS h3{
    color: white;
    font-weight: 700;
}

footer{
    text-align: center;
}